<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="editarClienteFrame">
		<size>500,350</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>16,184</pos>
			<size>504,352</size>
			<bg>#FEF7FF</bg>
			<handler function="OnPanel1Paint" entry="EVT_PAINT" />
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Editar datos de un cliente</label>
				<pos>88,16</pos>
				<size>280,32</size>
				<font>
					<size>17</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>default</family>
					<face>Roboto</face>
				</font>
				<style>wxALIGN_CENTRE</style>
			</object>
			<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
				<bitmap>/home/fort/documentos/proyectos/aplicacionDeLLamadas/assets/editar-codigo.png</bitmap>
				<pos>16,8</pos>
				<size>64,64</size>
			</object>
			<object class="wxSearchCtrl" name="ID_SEARCHCTRL1" variable="buscarSearchControl" member="yes">
				<pos>48,96</pos>
				<size>312,35</size>
				<handler function="OnbuscarSearchControlText" entry="EVT_TEXT" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Nombre del cliente</label>
				<pos>48,160</pos>
				<size>136,19</size>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>light</weight>
					<underlined>0</underlined>
					<family>default</family>
					<face>Roboto</face>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
				<label>Numero de telefono</label>
				<pos>48,216</pos>
				<size>144,19</size>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>light</weight>
					<underlined>0</underlined>
					<family>default</family>
					<face>Roboto</face>
				</font>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="nombreTextControl" member="yes">
				<pos>192,152</pos>
				<size>264,35</size>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="numeroTextControl" member="yes">
				<pos>192,208</pos>
				<size>264,35</size>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
				<label>Editar Informacion</label>
				<pos>48,264</pos>
				<size>200,40</size>
				<bg>#F7F2FA</bg>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>default</family>
					<face>Roboto</face>
				</font>
				<handler function="OnButton1Click" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="regresarBoton" member="yes">
				<label>Regresar</label>
				<pos>256,264</pos>
				<size>200,40</size>
				<bg>#F7F2FA</bg>
				<handler function="OnregresarBotonClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON3" variable="Button2" member="yes">
				<label>Buscar</label>
				<pos>368,96</pos>
				<size>85,32</size>
				<bg>#F7F2FA</bg>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>default</family>
					<face>Roboto</face>
				</font>
				<handler function="OnButton2Click" entry="EVT_BUTTON" />
			</object>
		</object>
	</object>
</wxsmith>
